*.pyc
*.sqlite3
*.db
*.idea
/__pycache__/
/venv/
/.venv/
/.idea/
/media/
.env
/staticfiles/
/static/

*.iml
*.iws
.idea/

.venv
.env/
venv/
env.bak/
venv.bak/

celerybeat-schedule
celerybeat.pid

*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3
